@import "./vars.css";

.root {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
  background: #C08744;
}
