.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.label {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.labelText {
  margin-right: 5px;
}
.input {
  height: 30px;
  flex: 1;
  line-height: 30px;
  font-size: 18px;
}
.btn {
  flex: 1;
  margin: 0 0 0 5px;
  height: 36px;
  line-height: 34px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: 200;
  color: #fff;
  background: #6E7587;
}
