.root {
  display: flex;
  justify-content: space-around;
}
.num {
  padding: 7px 12px;
  font-size: 18px;
  cursor: pointer;
  background: #efefef;
  border: 1px solid grey;
  border-radius: 3px;
}
.num + .num {
  margin-left: 2px;
}
.numActive {
  composes: num;
  background: grey;
  border: 1px solid grey;
}