.root {
  display: inline-flex;
  width: 20%;
  height: 20%;
  justify-content: center;
  align-items: center;
}
.tile {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 3px;
  background: #E1C8AE;
  border: 3px solid #A5917B;
  text-transform: uppercase;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.colorRed {
  composes: tile;
  background: red;
}
.colorRedKeyed {
  composes: tile;
  background: pink;
}
.colorBlue {
  composes: tile;
  background: blue;
}
.colorBlueKeyed {
  composes: tile;
  background: lightblue;
}
.colorNeutral {
  composes: tile;
  background: tan;
}
.colorNeutralKeyed {
  composes: tile;
  background: #ede1d1;
}
.colorAssassin {
  composes: tile;
  background: black;
}
.colorAssassinKeyed {
  composes: tile;
  background: grey;
}