@import "./vars.css";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
}
.rootRed {
  composes: root;
  background: var(--colorRed);
}
.rootBlue {
  composes: root;
  background: var(--colorBlue);
}